@import "../../../node_modules/flatpickr/dist/ie";
@import "../../../node_modules/flatpickr/dist/flatpickr";
@import "../../../node_modules/simplycountdown.js/css/scss/simplyCountdown.theme.default.scss";
@import "../../../node_modules/simplycountdown.js/css/scss/simplyCountdown.theme.losange.scss";

$color-black: #000000;
$color-black-light: #171717;

$color-blue-darken: #14213D;
$color-blue-darken-light: #29354E;

$color-blue: #2782fc;
$color-blue-dark: #245bbb;

$color-gray: #E5E5E5;
$color-gray-light: #E9E9E9;

$color-white: #FFFFFF;

.admin-bar.post-type-yacp_post {
  #normal-sortables {
    //display: none;
  }
}

#yacp_shortcode_preview_box {
  .handlediv {
    display: none;
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
  }

  .yacp_shortcode_preview {
    input {
      padding: 20px;
      font-size: 18px;
      text-align: center;
      box-shadow: none;
      border: 1px solid $color-blue-darken-light;
      background: $color-gray-light;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      cursor: pointer;
      color: $color-blue-darken;
    }
  }
}

.yacp_settings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;

  .form-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    label {
      margin-bottom: 15px;
    }
  }
}

#yacp_last_box {

  .handlediv,
  h2 {
    display: none !important;
  }

  .inside {
    padding: 0;
    margin: 0 0 0;
    width: 100%;
    //background: #000;
  }

  .blob {
    height: 350px;
    max-width: 100%;
    border: 5px solid $color-blue;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
  }
}

